<%= form_with(model: account_movement, local: true) do |form| %>
  <% if account_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_movement.errors.count, "error") %> prohibited this account_movement from being saved:</h2>

      <ul>
        <% account_movement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dt_movement %>
    <%= form.date_select :dt_movement %>
  </div>

  <div class="field">
    <%= form.label :operation %>
    <%= form.number_field :operation %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
