<p id="notice"><%= notice %></p>

<p>
  <strong>Dt movement:</strong>
  <%= @account_movement.dt_movement %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @account_movement.operation %>
</p>

<p>
  <strong>Value:</strong>
  <%= @account_movement.value %>
</p>

<%= link_to 'Edit', edit_account_movement_path(@account_movement) %> |
<%= link_to 'Back', account_movements_path %>
