<!DOCTYPE html>
<html>
<head>
  <title>NobeBank</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body id="page-top">
<div id="wrapper" class="d-flex flex-grow-1">
  <% if client_signed_in? %>
    <%= render partial: 'layouts/components/sidebar_menu' %>
  <%end %>
  <%= yield %>
</div>
</body>
</html>
