<%= form_with(model: account, local: true, html: {id: 'form-account'}) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row flex-column">
    <%= form.hidden_field :client_id %>
    <div class="col">
      <div class="form-group">
        <%= form.label :num_account, "Numero da conta" %>
        <%= form.text_field :num_account, class:'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :num_branch, "Numero da Agência" %>
        <%= form.text_field :num_branch, class:'form-control' %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <%= form.label :balance, "Saldo" %>
        <%= form.number_field :balance, class:'form-control', step: :any %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="d-flex justify-content-end ">
      <%= form.submit 'Salvar', class:'btn btn-success'%>
    </div>
  </div>

<% end %>
