<div  id="filterrific_results" class="table-responsive table mt-2"  role="grid" aria-describedby="dataTable_info">
  <table class="table my-0" id="dataTable">
    <thead>
    <tr>
      <th>Conta</th>
      <th>Agência</th>
      <th>Situacao</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% if accounts.blank? %>
      <tr>
        <td> Não existem contas cadastradas!</td>
      </tr>
    <% else %>
      <% accounts.each do |account| %>
        <tr>
          <td><%= account.num_account %></td>
          <td><%= account.num_branch %></td>
          <td><%= account.inative ? 'ENCERRADA' : 'ATIVA' %></td>
          <td class="text-center">
            <%= link_to  account, class:'btn btn-primary', title:"Visualizar" do%>
              <i class="fa fa-arrow-right"></i>
            <% end %>
            <button type='button' class="btn btn btn-info btn-edit" title="Editar" action="<%= edit_account_path(account.id) %>">
              <i class="fa fa-pencil-alt"></i>
            </button>
            <%= link_to  account, class:'btn btn-danger',method: :delete, data: { confirm: 'Você tem certeza?' } , title:"Excluir" do%>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <div class="info">
      <%= page_entries_info @accounts, entry_name: 'resultado(s)' %>
    </div>
    <div class="paginate">
      <%= paginate @accounts, theme:'twitter-bootstrap-4' %>
    </div>
  </div>
</div>
