
<div class="d-flex flex-column" id="content-wrapper">
  <%= render 'layouts/components/messages' %>
  <div id="content">
    <%= render 'layouts/components/navbar' %>
    <div class="container-fluid">
      <div class="d-flex justify-content-between mb-4">
        <h3 class="text-dark ">
          Minhas Contas
        </h3>
        <button type='button'  id='btn-account' class='btn btn-success' action="<%=new_accounts_path(current_client) %>" >
          <i class="fa fa-plus"></i>&nbsp; Criar Conta
        </button>
      </div>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Informações das contas</p>
        </div>
        <div class="card-body">
          <%= form_for_filterrific @filterrific do |f| %>
            <%= f.text_field(:search_query,
                             placeholder: 'Busque por Conta ou Agência',
                             class: 'filterrific-periodically-observed form-control') %>
          <% end %>
          <%= render partial: 'accounts/list', locals:{ accounts: @accounts } %>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"><span>wallison 2020</span></div>
    </div>
  </footer>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" role="dialog" tabindex="-1" id="new-account">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nova Conta&nbsp;</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
      <div class="modal-body">
        <div id='js-result' class="container">

        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_pack_tag 'account_index' %>