
<div class="d-flex flex-column" id="content-wrapper">
  <%= render 'layouts/components/messages' %>
  <div id="content">
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
      <div class="container-fluid">
        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
          <li class="nav-item dropdown no-arrow mx-1" role="presentation">
            <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
              <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                   role="menu">
                <h6 class="dropdown-header">alerts center</h6>
                <a class="d-flex align-items-center dropdown-item" href="#">
                  <div class="mr-3">
                    <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 12, 2019</span>
                    <p>A new monthly report is ready to download!</p>
                  </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                  <div class="mr-3">
                    <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 7, 2019</span>
                    <p>$290.29 has been deposited into your account!</p>
                  </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                  <div class="mr-3">
                    <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                  </div>
                  <div><span class="small text-gray-500">December 2, 2019</span>
                    <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                  </div>
                </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
            </div>
          </li>
          <li class="nav-item dropdown no-arrow mx-1" role="presentation">
            <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
          </li>
          <li class="nav-item dropdown no-arrow" role="presentation"></li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">

      <div class="d-flex justify-content-between mb-4">
        <h3 class="text-dark ">
          Minhas Contas
        </h3>
        <button type='button'  id='btn-account' class='btn btn-success' action="<%=new_accounts_path(current_client) %>" >
          <i class="fa fa-plus"></i>&nbsp; Criar Conta
        </button>
      </div>

      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text-primary m-0 font-weight-bold">Informações das contas</p>
        </div>
        <div class="card-body">
          <%= form_for_filterrific @filterrific do |f| %>
            <%= f.text_field(:search_query,
                             placeholder: 'Busque por Conta ou Agência',
                             class: 'filterrific-periodically-observed form-control') %>
            <%# add an automated spinner to your form when the list is refreshed %>
            <%= render_filterrific_spinner %>
          <% end %>
          <%= render partial: 'accounts/list', locals:{ accounts: @accounts } %>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"><span>wallison 2020</span></div>
    </div>
  </footer>
</div>
<a class="border rounded d-inline scroll-to-top" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" role="dialog" tabindex="-1" id="new-account">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Nova Conta&nbsp;</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
      <div class="modal-body">
        <div id='js-result' class="container">

        </div>
      </div>
    </div>
  </div>
</div>


<script>

    $('#btn-account').click( function(){
        get_form($(this))
    });
    $(document).on('click', '.btn-edit', function(){
        get_form($(this))
    });

    function get_form($form){
        $.ajax({
            method: "GET",
            url: $form.attr('action'),
            dataType: 'JSON',
        })
            .done(function( data ) {
                $("#js-result").html("").append(data['html']);
                $('#new-account').modal('show');
            })
            .fail(function( data ) {
                alert('Erro ao carregar solicitação.')
                console.log(data)
            });
    }

    $('#js-result').on('submit','#form-account', function(event){
        debugger
        event.preventDefault();
        $.ajax({
            method: "POST",
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'JSON',
        })
            .done(function( data ) {
                debugger
                location.reload();
            })
            .fail(function( data ) {
                debugger
                $('#js-result').prepend(data.responseText);
                $('#new-account').modal('show');
            });
    });


</script>

<style>
  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(90,92,105,.5);
    line-height: 46px;
  }
  #wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
  }
</style>